/* Styling Resets */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Muli',sans-serif
}

html {
    max-height: 2500px;
    max-width: 100vw
}

/* Header and Nav Styling */
header {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #ff1414
}

a.header-logo img {
    max-height: 100px;
    max-width: 100px
}

.nav-wrapper {
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 75px
}

.button-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px
}

.button-holder button {
    width: 90px;
    height: 50px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    margin: 5px
}

button:hover {
    cursor: pointer
}

.button-holder button a {
    border-radius: 2px;
    color: #fff
}

button.paypal-button {
    background: #ffc439
}

nav.nav-header-main {
    width: 100%;
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

nav.nav-header-main button {
    background: #fff;
    border: none;
    font-size: 1.5em
}

nav.nav-header-main ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    white-space: nowrap
}

nav.nav-header-main ul li {
    padding: 0 10px
}

nav.nav-header-main ul li.hidden {
    display: none
}

nav.nav-header-main ul li.button:hover {
    border-radius: 4px;
    background: #d9dde2
}

nav.nav-header-main ul li.button:hover button {
    background: #d9dde2
}

nav.nav-header-main ul li a {
    background: #fff;
    padding: 10px;
    color: #000;
    font-size: 1.5em
}

nav.nav-header-main ul li a:hover {
    background: #d9dde2;
    border-radius: 4px;
    text-decoration: none
}

nav.nav-header-main ul li ul {
    display: none;
    padding-top: 13px;
    background: #fff
}

nav.nav-header-main ul li:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px
}

nav.nav-header-main ul li ul li {
    background: #fff;
    padding: 20px 0;
    z-index: 99
}

nav ul li ul li:hover {
    background: #d9dde2
}

nav ul li ul li:hover a {
    background: #d9dde2
}

nav ul li ul li a {
    background: #fff;
    margin-left: 5px
}

.nav-header-mobile {
    display: none
}

/* Main Content - Body Element Styling */

body {
    background: #d9dde2;
    max-width: 2200px
}

.main-container {
    background: #d9dde2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

main {
    width: 70%;
    min-height: 100vh;
    background: #d9dde2;
    margin: 5px auto;
    text-align: center
}

main.index {
    width: 70%;
    background: #d9dde2;
    padding: 15px 0;
    text-align: center
}

/* Image Slider Styling */

.carousel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
}

.carousel {
    position: relative;
    width: 100%
}

.carousel_img_link {
    width: 100%
}

.carousel img {
    width: 100%;
    height: 600px
}

.carousel button {
    z-index: 80;
    font-size: 1.1em;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 8px 16px;
    cursor: pointer
}

button.left {
    position: absolute;
    top: 50%;
    left: 0
}

button.right {
    position: absolute;
    top: 50%;
    right: 0
}

/* Social Badge Banner Styling */
section.banner-container {
    margin: 0 0 5px 0;
    background: #ff1414;
    height: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center
}

section.social-holder {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

a.social-badge img {
    width: 50px;
    height: 50px
}

p.banner-text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0;
}

/* Widget Container Styling */
.widget-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.googlecalendar {
    width: 600px;
    padding-right: 5px;
    min-height: 500px
}

.twitter-frame {
    width: 600px;
    padding-left: 5px
}

/* Article Styling */

main.article {
    width: 630px;
    margin: 0 auto;
    padding-bottom: 25px
}

article.article {
    text-align: left
}

article.article h2 {
    padding: 25px;
    font-size: 1.7em
}

article.article h5 {
    padding-left: 25px;
    margin-top: 15px
}

article.article p {
    padding-left: 25px;
    margin-top: 15px
}

/* News Cascade Section [Not in WordPress Theme] */
.events-container {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

h1.events-page {
    margin: 15px 0
}

section.article-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 400px;
    max-height: 800px;
    overflow-y: scroll
}

.articleinfo-container:nth-child(even) {
    background: #fff
}

.articleinfo-container {
    padding: 10px;
    margin-bottom: 10px;
    height: 100px
}

.article-info.noimgpreview {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    background: black
}

.article-info-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.article-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left
}

.article-info a,.article-info p {
    color: #000;
    margin-left: 10px
}

.article-info a:hover {
    text-decoration: underline
}

/* Form Component Styling*/
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type="number"] {
    -moz-appearance: textfield
}

main.signup,main.contact {
    width: 100%;
    margin: 0;
    background: #efe8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column
}

.form-styled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.form-styled input,.form-styled select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: #d9dde2
}

.input-field {
    max-width: 350px;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.input-field input,.input-field select {
    margin: 0 0 2px 3px
}

h1.signup {
    padding: 10px 0
}

.form-styled button {
    max-width: 325px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    margin: 5px auto 10px auto
}

form.form-styled {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

form.form-styled textarea {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border: none;
    background: #d9dde2;
    margin: 0 5px;
    padding: 5px;
    resize: none;
    width: 100%;
    max-width: 350px;
    height: 300px;
    border-radius: 5px
}

button.styled {
    max-width: 325px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    margin: 5px auto 10px auto
}

/* Sidebar Styling */
aside.sidebar {
    margin: 5px 0;
    padding: 0 25px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    max-height: 1235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background: #d9dde2
}

aside.sidebar::-webkit-scrollbar {
    display: none
}

.testimonial {
    width: 100%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 2px solid #ff1414
}

.testimonial-container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.testimonial-container img {
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-radius: 50px;
    margin-bottom: 5px
}

.testimonial-container p {
    margin: 5px 0
}

section.pay-dues {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center
}

section.pay-dues h2 {
    text-align: center
}

section.pay-dues p {
    padding: 20px 45px;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.2em
}

/* Footer Styling */
.main-footer {
    position: relative;
    bottom: 0;
    background: #ff1414;
    width: 100%;
    height: 80px;
    text-align: center
}

.main-footer a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

/* Media Queries */
@media (min-width: 2200px) {
    /* General Styling */
    body {
        margin:0 auto
    }
}

@media (max-width: 980px) {
    /* Wordpress Class Styling */
    body.single, body.page, body.blog {
        background: #efe8e8;
    }

    body.home.page {
        background: #d9dde2;
    }

    /* Article Styling */
    main.article {
        width:100%;
        background: #efe8e8;
    }
}

@media (max-width: 920px) {
    /* Header and Nav Styling */
    .button-holder {
        margin-right:0;
    }

    nav.nav-header-main ul li a {
        font-size:1.4em
    }

    nav.nav-header-main ul li button {
        font-size: 1.4em
    }

    nav.nav-header-main ul li ul li {
        padding: 10px 0
    }

    /* Main Content Styling */
    main.index {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    /* Social Banner Styling */
    p.banner-text {
        font-size: 1.4em;
    }

    /* Widget Container Styling */
    .widget-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .googlecalendar {
        padding: 0;
        margin: 5px 0 5px 0;
    }

    .twitter-frame {
        padding: 0;
    }

    .article-info a {
        text-decoration: underline;
    }

    /* Sidebar Styling*/
    aside.sidebar {
        display:none
    }
}

@media (max-width: 865px) {
    /* Header and Nav Styling */
    nav.nav-header-main ul li a {
        font-size:1.3em
    }

    nav.nav-header-main ul li button {
        font-size: 1.3em
    }
}

@media (max-width: 845px) {
    /* Header and Nav Styling */
    nav.nav-header-main ul li a {
        font-size:1.2em
    }

    nav.nav-header-main ul li button {
        font-size: 1.2em
    }

    nav.nav-header-main ul li {
        padding: 2px
    }
}

@media (max-width: 768px) {
    /* Header and Nav Styling */
    header {
        justify-content: center;
        flex-flow: row nowrap;
    }

    .nav-wrapper {
        width: 0;
        height: 50px;
        order: 0;
    }

    header section {
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
    }

    .button-holder {
        display:none
    }

    nav.nav-header-main ul li a {
        font-size: 1em
    }

    nav.nav-header-main ul li button {
        font-size: 1em
    }

    nav.nav-header-main ul li.hidden {
        display: block
    }

    nav.nav-header-main ul li {
        padding: 2px
    }
}

@media (max-width: 645px) {
    /* Header and Nav Styling */ 
    nav.nav-header-main ul li ul {
        padding: 0
    }

    nav.nav-header-main ul li a {
        padding: 2px
    }
    nav.nav-header-main ul li:hover ul {
        margin-top: 0;
        padding-top: 10px
    }

    /* Image Slider Styling */
    .carousel img {
        height: 500px;
    }

    .carousel button {
        padding: 4px 10px;
    }

    /* Social Banner Styling */
    section.banner-container {
        margin: auto;
        height: 80px;
    }

    section.social-holder {
        width: auto ;
    }

    a.social-badge {
        padding: 15px;
    }

    /* Widget Container Styling */
    .widget-container {
        min-height: 500px;
    }

    .twitter-frame {
        padding-left: 5px;
        min-height: 500px;
    }

    .googlecalendar.events-page {
        width: 100vw;
        padding: 0;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    /* News Cascade Section [Not in WordPress Theme] */
    section.events {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width: 560px) {
    /* General Styling */
    html {
        max-width: 99vw;
    }
    
    /* Image Slider Styling */
    .carousel img {
        height:300px
    }

    /* Header and Nav Styling */
    a.header-logo img {
        max-height: 100px;
        max-width: 100px;
    }

    .button-holder {
        display: none;
    }

    button.paypal-button {
        width: 295px;
        height: 30px;
        background: #ffc439;
        border: none;
        border-radius: 4px;
        font-size: 15px;
    }

    nav.nav-header-main {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    nav.nav-header-main ul {
        display: none;
    }

    .btn-toggle-nav {
        margin-left: 4px;
        width: 45px;
        height: 45px;
    }
    
    .btn-toggle-nav-img {
        width: 100%;
        height: 100%;
        background-image: url(../img/menu.png);
        background-repeat: no-repeat;
        background-size: contain
    }
    
    .nav-header-mobile {
        display: none;
        position: relative;
        padding: 0 5px 25px 0;
        background-color: #d9dde2;
        z-index: 99
    }
    
    .nav-header-mobile ul {
        overflow: hidden
    }
    
    .nav-header-mobile ul:nth-child(1) {
        padding-top: 15px
    }
    
    .nav-header-mobile ul li {
        padding: 0 15px;
        line-height: 40px;
        list-style: none
    }
    
    .nav-header-mobile ul li.button {
        padding: 0;
        line-height: 40px;
        list-style: none
    }
    
    .nav-header-mobile ul li.button form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    
    .nav-header-mobile ul li span,.nav-header-mobile ul li a {
        display: block;
        height: 60px;
        text-decoration: none;
        color: #ff1414;
        font-size: 16px;
        white-space: nowrap;
        opacity: .5
    }
    
    .nav-header-mobile ul li a {
        padding: 0;
        color: #000
    }
    
    .nav-header-mobile ul li a button {
        opacity: 0
    }

    /* Social Banner Styling */
    p.banner-text {
        font-size: 1.1em;
    }
}

@media (max-width: 400px) {
    /* News Cascade Section [Not in WordPress Theme] */    
    main.events-container {
        width:100vw
    }

    section.article-preview-container {
        width: 100%
    }

    section.article-preview {
        width: 100%
    }
}

@media (max-width: 375px) {
    /* Social Banner Styling */
    a.social-badge img {
        width:40px;
        height: 40px
    }
}

@media (max-width: 320px) {
    /* Widget Conatiner Styling */
    .widget-container {
        width:100vw;
        overflow: hidden
    }

    a.social-badge {
        padding: 5px
    }

    a.social-badge img {
        width: 40px;
        height: 40px
    }
}
